/* Padding (inner spacing) - space within the box */
/* Adding padding to each side */
.box1 {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
  }

  /* Shorhand - Adding padding to each side */
/* Clockwise */
/* 4 values = top, right, bottom, left */
/* 3 values = top, left and right, bottom */
/* 2 values = top and bottom, left and right*/
/* 1 value = all sides */
.box2 {
    padding: 20px 30px;
  }

/* Adding margin to each side */
.box3 {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
  }
/* Shorhand - Adding margin to each side */
/* Clockwise */
/* 4 values = top, right, bottom, left */
/* 3 values = top, left and right, bottom */
/* 2 values = top and bottom, left and right*/
/* 1 value = all sides */
.box4 {
    margin: 10px 20px 15px 10px;
  }
/* Borders */
.mix-borders {
    height: 100px;
    width: 200px;
    background-color: aquamarine;
    border-style: solid dashed dotted double;
    border-width: 4px;
    border-color: tomato yellow blue green;
    /* shorthand version */
    border: 10px tomato dashed;
  }
  /* Circle Container */
  .circle-container {
    background-color: aqua;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    text-align: center;
    color: tomato;
  }






