
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
   
.header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px;
  }

.main {
    padding: 20px; max-width: 1200px; margin: 0 auto;
  }
  
h2 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    font-size: 20px; 
    margin-top: 40px;
}
    
.line-height {
    line-height: 1.5;
}
.bold {
    font-weight: bold;
 }

.underline {
    text-decoration: underline;
 }

.italic {
    font-style: italic;
 }
.class-name {
    color: #d9534f;
    background-color: #f9d6d5;
    padding: 10px 20px;
    border-radius: 5px;
} 

#solutions {
  font-weight: bold;
  background-color: whitesmoke;
  border: 1px solid lightgray;
  padding: 10px 20px;
  border-radius: 5px;
}

.solutions-parag-container {
  color: green;
  font-style: italic;
}

.box1 {
  background-color: #f0ad4e;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  color: white;
}

.box2 {
  background-color: #5bc0de;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  color: white;
}

.box3 {
  background-color: #5cb85c;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  color: white;
}

.box4 {
  background-color: #d9534f;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  color: white;
}

h3 {
  text-align: center;
  border: 1px solid lightgrey;
  padding: 10px;
  width: 300px;
  margin: 0 auto;
}
  
.project-highlight {
  text-align: center;
  border: 2px solid lightgrey;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: whitesmoke;
} 

.pricing {
  font-size: x-large;
  text-align: center;
}

.line-through {
  color: #777;
  text-decoration: line-through;
  margin-right: 10px;
}
   
.sale-price {
  color: #d9534f;
  font-weight: bold;
}

.logo {
  height: 20px;
  width: 20px;
}

.footer {
  padding: 10px;
  background-color: #333;
  color: #fff;
  text-align: center;
  margin: 40px 0;
}
.email {
  color: green;
}
.font-family-size {
  font-size: 20px;
}
